page-contactos {
    margin: 0;
    padding: 0;

    *::-webkit-scrollbar {
        display: none;
    }

    ion-title{
        text-align: center;
        font-family: 'Merriweather', serif;
    }

    #body{
        background-color: #ffffff;
    }

    #container{
        height: 100%;
        width: 100%;
    }

    .univertity{
        height: 15%;
    }

    .imgLogo{
        height: 100%;
        margin: 0 auto;
        display: flex;
    }

    .dev{
        margin-top: 10px;
        background-image: url('../../assets/imgs/dev.png');
        height: 20px;
        background-size: 42px;
        background-position: center;
    }

    .developer1{
        padding: 5px 0;
    }

    .developer2{
        padding: 5px 0;
    }
    label{
        font-size: 1.2em;
        font-family: 'Times New Roman', Times, serif;
    }
}